$font-path: "../assets/fonts";
$app-direction: ltr;


@import "ionic.globals";


$colors: (
  primary:    #00FF32,
  secondary:  #2fc862,
  danger:     #f53d3d,
  light:      #ffffff,
  dark:       #222,
  active:     #b2c4b8
);

//Toolbar
$toolbar-md-background: color($colors, secondary);

//Tabs
$tabs-md-background: color($colors, secondary);
$tabs-md-tab-color-active:color($colors, active);
$tabs-md-tab-color-inactive:color($colors, light);

@import "ionic.theme.default";
@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";
