//CSS file used throughout application
.home{
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

hr{
   border: 1px solid #000000;
   width: 500px;
}

.teamStats{
    text-align: center;
    word-spacing: 5px;
}

.teamName{
   margin-right: 30px;
}

.statsDiv{
    width: 50%;
    margin: 0 auto;
}
.teamDiv{
    margin: 0 auto;
    vertical-align: left;
}
.profilePic{
    float: left;
    width: 35%;
    display: block;
    margin-right: 5%;

}
.info{
    float: right;
    width: 100%;
    display: block;
}

