.home{
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.heading {
    font-family: "bookman";
    font-size: 50px;
}

.teamStats{
    text-align: center;
    word-spacing: 5px;
}

.teamName{
   margin-right: 30px;
}

.statsDiv{
    width: 50%;
    margin: 0 auto;
}
.teamDiv{
    margin: 0 auto;
    vertical-align: left;
}

